.flex-services {
    justify-content: center;
    align-items: top;
    display: flex;
    flex-direction: row;
    flex: wrap;
    gap: 5rem;
    margin: 50px;




    .flex-1,
    .flex-2,
    .flex-3 {
        display: flex;
        gap: 1.25rem;

        flex-direction: column;


    }



    .guy-design,
    .working,
    .oculus {
        border-radius: 20px;
        height: 15rem;
        width: 20rem;
        object-fit: cover;
    }

    .p-services-1,
    .p-services-2,
    .p-services-3 {
        width: 20rem;
    }


}