header {
    background-color: grey;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar-nav .nav-link {
    color: white;

    &:hover {
        text-decoration: underline;
        color: white;
    }
}